<h1>Editing user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :mobile_phone %><br />
    <%= f.text_field :mobile_phone %>
  </p>
 <p>
    <%= f.label :date_of_birth %><br />
    <%= f.date_select :date_of_birth, :start_year => 1960, :end_year => (Date.today.year - 18) %>
  </p>
  <p class="submit_buttons">
    <%= f.submit 'Update' %>
    <%= link_to 'Return', users_path %>
  </p>
<% end %>
