<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>
      <%= 'Anvitha' %>
    </title>
    <%= stylesheet_link_tag 'anvitha', :media => 'screen' %>
  </head>
  <body>
    <div id="header">
      <h1>
        <a href="#">Anvitha</a>
      </h1>
      <span class="marque"> <marquee> Many hearts  </marquee></span>
    </div>
    <div id="menu">
      <ul>
        <li class="current_page_item"><a href="<%= home_pages_path %>">Home</a></li>
        <li><a href="<%= blog_pages_path %>">Blog</a></li>
        <li><a href="<%= photos_pages_path %>">Photos</a></li>
        <li><a href="<%= about_pages_path %>">About</a></li>
        <li><a href="<%= contact_us_pages_path %>">Contact</a></li>
      </ul>
    </div>
    </div>
    <div class="container">      
        <%= yield %>   
    </div>
  </body>
</html>